# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Razor files
[*.razor]
indent_size = 4

# Suppress MudBlazor analyzer warnings for correct @bind-Checked syntax
[*.razor]
dotnet_diagnostic.MUD0002.severity = none 